
  .search__p{
      text-align: left;
      margin-top: 36px;
      margin-bottom: 15px;
  }
  .search__cards{
      display: flex;
      flex-wrap: wrap;
  }
  .nothin_no{
      margin: 0;
      width: 100%;
      p{
          margin-top: 16px;
          margin-bottom: 48px;
          text-align: left;
      }
      h2{
          text-align: left;
      }
  }
  .searchd{
      display: flex;
      flex-wrap: wrap;
p{
    margin: 0px;
}
  }