.best {
  &__cards {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    margin-bottom: 16px;
    margin-top: 60px;
  }
  &__btn {
    background: #1d1d1b;
    width: 107px;
    height: 32px;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-top: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.best__cards-mobile{
  display: none;
}

@media only screen and (max-width: 550px) {
  .best__cards-mobile{
    display: block;
  }
  .best__cards{
    display: none;
  }
}
